body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #273d66;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: center; /* Center-align text in the container */
}

h1, h2 {
    color: #273D66;
}

label {
    display: block;
    margin-bottom: 15px;
    text-align: left; /* Align labels to the left */
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049;
}

button[type="button"] {
    background-color: #f44336;
}
button[type="button"]:hover {
    background-color: #e3312a;
}